actions.azure_blob_storage.my_webhook_1 = {
  local_topic = "example/topic"
  parameters = {
    #substruct(action_azure_blob_storage:aggreg_parameters)
    #substruct(action_azure_blob_storage:direct_parameters)
  }
  connector = "my_connector"
  resource_opts = {
    #substruct(action_azure_blob_storage:action_resource_opts)
  }
}