actions.snowflake.my_action {
  local_topic = ""
  parameters = {
    #substruct(action_snowflake:aggreg_parameters)
  }
  connector = ""
  tags = [
    "tag1",
    "tag2"
  ]
  description = ""
  resource_opts = {
    #substruct(action_snowflake:action_resource_opts)
  }
}