actions.snowflake.my_snowflake_action.parameters {
    mode = aggregated
    aggregation = {
        #substruct(action_snowflake:aggregation)
    }
    private_key = "your_private_key_here"
    database = "your_database_name"
    schema = "your_schema_name"
    stage = "your_stage_name"
    pipe = "your_pipe_name"
    pipe_user = "your_pipe_user_name"
    connect_timeout = "15s"
    pipelining = 100
    pool_size = 8
    max_retries = 3
    proxy = none
}