authentication = [
  {
    algorithm = hmac-based
    secret = "your_hmac_secret_key"
    secret_base64_encoded = false
    mechanism = jwt
    acl_claim_name = acl
    verify_claims = {}
    disconnect_after_expire = true
    from = password
  }
]