authentication = [
  {
    mechanism = password_based
    backend = ldap
    query_timeout = "5s"
    server = "ldap.example.com:389"
    pool_size = 8
    username = "ldap_user"
    password = "secret_password"
    base_dn = "uid=${username},ou=testdevice,dc=emqx,dc=io"
    filter = "(objectClass=mqttUser)"
    request_timeout = "10s"
    ssl = {
      enable = false
    }
    method = {
      #substruct(authn:hash_method)
      #substruct(authn:bind_method)
    }
  }
]