authorization.sources = [
  {
    type = redis
    servers = "127.0.0.1:6379,127.0.0.1:6380"
    redis_type = cluster
    pool_size = 8
    username = "user"
    password = "secret"
    ssl = {
      enable = false
    }
    cmd = "HGETALL mqtt_authz"
  }
]