authorization.sources[0] {
    type = "mongodb"
    collection = "auth_data_collection"
    filter = {}
    limit = 1000
    skip = 0
    mongo_type = "single"
    server = "localhost:27017"
    w_mode = "unsafe"
    srv_record = false
    pool_size = 8
    username = "db_user"
    password = "secret_password"
    use_legacy_protocol = "auto"
    auth_source = "auth_db"
    database = "main_db"
    topology = {
        #substruct(mongo:topology)
    }
    ssl = {
        enable = false
    }
}