authorization.sources = [
  {
    type = ldap
    publish_attribute = "mqttPublishTopic"
    subscribe_attribute = "mqttSubscriptionTopic"
    all_attribute = "mqttPubSubTopic"
    query_timeout = "5s"
    server = "host:389"
    pool_size = 8
    username = "example_user"
    password = "example_password"
    base_dn = "uid=${username},ou=testdevice,dc=emqx,dc=io"
    filter = "(objectClass=mqttUser)"
    request_timeout = "10s"
    ssl = {
      #substruct(ldap:ssl)
    }
  }
]