authentication = [
  {
    checks = [
      {
        is_match = "expression_here"
        # Alternatively, for an array of expressions:
        # is_match = [
        #   "expression1",
        #   "expression2"
        # ]
        result = "allow"
      }
    ]
  }
]