authentication = [
  {
    mechanism = password_based
    backend = postgresql
    password_hash_algorithm = {name = sha256, salt_position = prefix}
    query = "SELECT password_hash FROM users WHERE username = ?"
    server = "localhost:5432"
    disable_prepared_statements = false
    database = "my_database"
    pool_size = 8
    username = "my_username"
    password = "my_password"
    ssl = {
      #substruct(emqx:ssl_client_opts)
    }
  }
]