authorization.sources = [
  {
    type = "mysql"
    server = "localhost:3306"
    database = "my_database"
    pool_size = 8
    username = "root"
    password = "my_secret_password"
    ssl = {
      #substruct(emqx:ssl_client_opts)
    }
    prepare_statement = {
      # Example: "key1" = "value1"
    }
    query = "SELECT * FROM auth_table WHERE username = ?"
  }
]