authorization.sources[0] {
    type = "ldap"
    publish_attribute = "mqttPublishTopic"
    subscribe_attribute = "mqttSubscriptionTopic"
    all_attribute = "mqttPubSubTopic"
    query_timeout = "5s"
    server = "ldap.example.com:389"
    pool_size = 8
    username = "cn=admin,dc=example,dc=com"
    password = "secret_password"
    base_dn = "uid=${username},ou=testdevice,dc=emqx,dc=io"
    filter = "(& (objectClass=mqttUser) (uid=${username}))"
    request_timeout = "10s"
    ssl = {
        #substruct(ldap:ssl)
    }
}