authorization.sources[0] {
    type = redis
    server = "localhost:6379"
    redis_type = single
    pool_size = 8
    username = "user"
    password = "secret"
    database = 0
    ssl = {
        #substruct(emqx:ssl_client_opts)
    }
    cmd = "HGETALL mqtt_authz"
}