authentication = [
  {
    mechanism = password_based
    backend = redis
    cmd = "HGET"
    password_hash_algorithm = {
      name = sha256
      salt_position = prefix
    }
    servers = "127.0.0.1:6379,127.0.0.1:6380"
    redis_type = cluster
    pool_size = 8
    username = "user"
    password = "secret_password"
    ssl = {
      #substruct(emqx:ssl_client_opts)
    }
  }
]