authentication = [
  {
    mechanism = password_based
    backend = built_in_database
    user_id_type = username
    bootstrap_file = "${EMQX_ETC_DIR}/auth-built-in-db-bootstrap.csv"
    bootstrap_type = plain
    password_hash_algorithm = {name = sha256, salt_position = prefix}
    #authn_hash:bcrypt_rw
    #authn_hash:pbkdf2
    #authn_hash:simple
  }
]