authentication[0] {
    algorithm = hmac-based
    secret = "your-secret-key"
    secret_base64_encoded = false
    mechanism = jwt
    acl_claim_name = acl
    verify_claims = {}
    disconnect_after_expire = true
    from = password
}