authorization.sources = [
  {
    type = "mongodb"
    collection = "authz_data"
    filter = {}
    limit = 1000
    skip = 0
    mongo_type = "single"
    server = "localhost:27017"
    w_mode = "unsafe"
    srv_record = false
    pool_size = 8
    username = "admin"
    password = "secret"
    use_legacy_protocol = "auto"
    auth_source = "admin_db"
    database = "auth_db"
    topology = {
      #substruct(mongo:topology)
    }
    ssl = {enable = false}
  }
]