authentication = [
  {
    use_jwks = true
    endpoint = "https://example.com/jwks"
    headers = {Accept = "application/json"}
    pool_size = 8
    refresh_interval = 300
    ssl = {enable = false}
    mechanism = jwt
    acl_claim_name = acl
    verify_claims = {}
    disconnect_after_expire = true
    from = password
  }
]