actions.iotdb.my_action {
  local_topic = ""
  parameters = {
    #substruct(bridge_iotdb:action_parameters)
  }
  connector = ""
  tags = [
    "tag1",
    "tag2"
  ]
  description = ""
  resource_opts = {
    #substruct(bridge_iotdb:action_resource_opts)
  }
}