actions.mysql.my_mysql_action.parameters {
  sql = "insert into t_mqtt_msg(msgid, topic, qos, payload, arrived) values (${id}, ${topic}, ${qos}, ${payload}, FROM_UNIXTIME(${timestamp}/1000))"
  undefined_vars_as_null = false
}