actions.datalayers.my_webhook_1 {
    local_topic = "some/topic"
    parameters = {
        #substruct(bridge_datalayers:action_parameters)
    }
    connector = "my_connector"
    resource_opts = {
        #substruct(actions_and_sources:action_resource_opts)
    }
}