connectors.dynamo.my_dynamo_connector {
  tags = []
  description = ""
  url = "https://dynamodb.example.com"
  region = "us-west-2"
  aws_access_key_id = "YOUR_ACCESS_KEY_ID"
  aws_secret_access_key = "YOUR_SECRET_ACCESS_KEY"
  pool_size = 8
  resource_opts = {
    #substruct(bridge_dynamo:connector_resource_opts)
  }
}