sources.mqtt.my_mqtt_source {
  parameters = {
    #substruct(bridge_mqtt_publisher:ingress_parameters)
  }
  connector = "your_connector_name"
  resource_opts = {
    #substruct(bridge_mqtt_publisher:source_resource_opts)
  }
}