actions.datalayers.my_webhook_1 {
  local_topic = "your/local/topic"
  parameters = {
    #substruct(bridge_datalayers:action_parameters)
  }
  connector = "connector_name"
  resource_opts = {
    #substruct(actions_and_sources:action_resource_opts)
  }
}