actions.mongodb.my_webhook_1 {
    local_topic = "example/topic"
    parameters = {
        #substruct(bridge_mongodb:action_parameters)
    }
    connector = "mongodb_connector"
    resource_opts = {
        #substruct(bridge_mongodb:action_resource_opts)
    }
}