actions.greptimedb.my_greptimedb_action {
  local_topic = "example/topic"
  parameters = {
    #substruct(bridge_greptimedb:action_parameters)
  }
  connector = "example_connector"
  tags = [
    "tag1",
    "tag2"
  ]
  description = ""
  resource_opts = {}
}