actions.s3.my_webhook_1.parameters {
    mode = aggregated
    container = {
    #substruct(bridge_s3:s3_aggregated_container_csv)
    }
    aggregation = {
    #substruct(bridge_s3:s3_aggregation)
    }
    bucket = "my-s3-bucket"
    key = "${action}/${node}/${datetime.rfc3339utc}/${sequence}"
    acl = private
    headers = {
        "Content-Type" = "application/json"
    }
    min_part_size = "5mb"
    max_part_size = "5gb"
}