actions.tdengine.my_webhook_1.parameters {
    database = "my_database_name"
    sql = "insert into t_mqtt_msg(ts, msgid, mqtt_topic, qos, payload, arrived) values (${ts}, '${id}', '${topic}', ${qos}, '${payload}', ${timestamp})"
    undefined_vars_as_null = false
}