connectors.hstreamdb.my_hstreamdb_connector {
  tags = [
    "tag1",
    "tag2"
  ]
  description = ""
  url = "http://127.0.0.1:6570"
  grpc_timeout = "30s"
  ssl = {
    #substruct(emqx:ssl_client_opts)
  }
  resource_opts = {
    #substruct(bridge_hstreamdb:connector_resource_opts)
  }
}