connectors.clickhouse.my_clickhouse_connector {
  tags = []
  description = ""
  url = "http://myhostname:8123"
  connect_timeout = "15s"
  database = "example_database"
  pool_size = 8
  username = "example_user"
  password = "example_password"
  resource_opts = {
    #substruct(bridge_clickhouse:connector_resource_opts)
  }
}