actions.mysql.my_mysql_action {
  local_topic = "example/topic"
  parameters = {
    #substruct(bridge_mysql:action_parameters)
  }
  connector = "my_connector"
  tags = [
    "tag1",
    "tag2"
  ]
  description = ""
  resource_opts = {
    #substruct(actions_and_sources:action_resource_opts)
  }
}