connectors.datalayers.my_webhook_1 {
  server = "127.0.0.1:8361"
  pool_size = 8
  parameters {
    #substruct(connector_datalayers:datalayers_influxdb_v1_parameters)
  }
  ssl = {
    enable = false
    #substruct(emqx:ssl_client_opts)
  }
  resource_opts {
    #substruct(bridge_datalayers:connector_resource_opts)
  }
}