actions.tablestore.my_webhook_1.parameters.fields = [
  {
    column = "column_name"
    value = {
      #true
      #123
      #"string_value"
    }
    isint = {
      #false
      #"is_integer"
    }
    isbinary = {
      #false
      #"is_binary"
    }
  }
]