connectors.s3.my_s3_connector {
  access_key_id = "your-access-key-id"
  secret_access_key = "your-secret-access-key"
  host = "s3.example.com"
  port = 443
  access_method = path
  transport_options = {
    #substruct(s3:transport_options)
  }
  resource_opts = {
    #substruct(bridge_s3:s3_connector_resource_opts)
  }
}