connectors.datalayers.my_datalayer {
  tags = []
  description = ""
  server = "127.0.0.1:8361"
  pool_size = 8
  parameters = {
    #substruct(connector_datalayers:datalayers_influxdb_v1_parameters)
  }
  ssl = {
    enable = false
  }
  resource_opts = {}
}