connectors.timescale.my_webhook_1 {
  server = "my_host:5432"
  disable_prepared_statements = false
  database = "my_database"
  pool_size = 8
  username = "my_username"
  password = "my_password"
  ssl = {
    enable = false
  }
  resource_opts = {
    #substruct(connector_postgres:resource_opts)
  }
}