actions.rabbitmq.my_rabbitmq_instance.parameters {
  wait_for_publish_confirmations = true
  publish_confirmation_timeout = "30s"
  exchange = "e-${payload.e}"
  routing_key = "k-${payload.r}"
  delivery_mode = non_persistent
  payload_template = ""
}