actions.oracle.my_webhook_1 {
    local_topic = "your/topic/here"
    parameters = {
        #substruct(bridge_oracle:action_parameters)
    }
    connector = "your_connector_name"
    resource_opts = {
        #substruct(actions_and_sources:action_resource_opts)
    }
}