actions.tablestore.my_webhook_1.parameters.fields[0] {
    column = "example_column"
    value = {
        #union: boolean()
        #union: number()
        #union: binary()
    }
    isint = {
        #union: boolean()
        #union: binary()
    }
}