actions.tdengine.my_tdengine_instance.parameters {
  database = "my_database"
  sql = "insert into t_mqtt_msg(ts, msgid, mqtt_topic, qos, payload, arrived) values (${ts}, '${id}', '${topic}', ${qos}, '${payload}', ${timestamp})"
  undefined_vars_as_null = false
}