actions.opents.my_action {
    local_topic = "my/mqtt/topic"
    parameters = {
        #substruct(bridge_opents:action_parameters)
    }
    connector = "my_connector"
    resource_opts = {
        #substruct(actions_and_sources:action_resource_opts)
    }
}