actions.s3.my_webhook_1.parameters {
    bucket = "my-s3-bucket"
    key = "path/to/object"
    acl = "private"
    headers = {
        # Headers as a map of key-values
    }
    mode = direct
    content = "${.}"
}