actions.iotdb.my_webhook_1 {
    local_topic = ""
    parameters = {
        #substruct(bridge_iotdb:action_parameters)
    }
    connector = ""
    resource_opts = {
        #substruct(bridge_iotdb:action_resource_opts)
    }
}