connectors.oracle.my_oracle_connector {
  server = "localhost:1521"
  sid = "orcl"
  service_name = "orcl_service"
  role = "normal"
  pool_size = 8
  username = "oracle_user"
  password = "oracle_password"
  resource_opts = {
    #substruct(bridge_oracle:connector_resource_opts)
  }
}