actions.sqlserver.my_webhook_1 {
    local_topic = "example/topic"
    parameters = {
        #substruct(bridge_sqlserver:action_parameters)
    }
    connector = "my_connector"
    resource_opts = {
        #substruct(actions_and_sources:action_resource_opts)
    }
}