actions.rabbitmq.my_webhook_1 {
    local_topic = "my/mqtt/topic"
    parameters = {
        #substruct(bridge_rabbitmq:action_parameters)
    }
    connector = "my_connector_name"
    resource_opts = {
        #substruct(bridge_rabbitmq:action_resource_opts)
    }
}