connectors.influxdb.my_influxdb {
  tags = []
  description = ""
  server = "127.0.0.1:8086"
  pool_size = 8
  parameters = {
    #substruct(connector_influxdb:connector_influxdb_api_v1)
    #substruct(connector_influxdb:connector_influxdb_api_v2)
  }
  ssl = {enable = false}
  resource_opts = {}
}