connectors.oracle.my_webhook_1 {
    server = "Host:1521"
    sid = "my_sid"
    service_name = "my_service_name"
    role = normal
    pool_size = 8
    username = "my_username"
    password = "my_password"
    resource_opts = {
        #substruct(bridge_oracle:connector_resource_opts)
    }
}