actions.http.my_webhook_1 {
    connector = "my_connector"
    parameters = {
        #substruct(bridge_http:parameters_opts)
    }
    resource_opts = {
        #substruct(bridge_http:action_resource_opts)
    }
}