cluster.links[0] {
    name = "remote_cluster_name"
    server = "mqtt.example.com:1883"
    clientid = "optional_client_id"
    username = "optional_username"
    password = "optional_password_secret"
    ssl = {
        #substruct(emqx:ssl_client_opts)
    }
    topics = ["topic1", "topic2"]
    pool_size = 8
    retry_interval = "15s"
    max_inflight = 32
    resource_opts = {
        #substruct(cluster:creation_opts)
    }
}