cluster.links = [
  {
    name = "remote_cluster_name"
    server = "mqtt.example.com:1883"
    clientid = "base_client_id"
    username = "mqtt_user"
    password = {
      #substruct(emqx_schema_secret:secret())
    }
    ssl = {
      enable = false
    }
    topics = [
      "topic/example1",
      "topic/example2"
    ]
    pool_size = 8
    retry_interval = "15s"
    max_inflight = 32
    resource_opts = {
      #substruct(cluster:creation_opts)
    }
  }
]