cluster.links = [
  {
    name = "remote_cluster"
    server = "remote-mqtt-broker:1883"
    clientid = "base_client_id"
    username = "mqtt_user"
    password = "mqtt_password"
    ssl = {enable = false}
    topics = ["topic1", "topic2"]
    pool_size = 8
    retry_interval = "15s"
    max_inflight = 32
    resource_opts = {
      #substruct(cluster:creation_opts)
    }
  }
]