connectors.confluent_producer.my_producer.ssl {
  cacertfile = "/path/to/cacertfile.pem"
  certfile = "/path/to/certfile.pem"
  keyfile = "/path/to/keyfile.pem"
  reuse_sessions = true
  depth = 10
  password = "your_password"
  versions = [
    "tlsv1.3",
    "tlsv1.2"
  ]
  ciphers = []
  secure_renegotiate = true
  log_level = notice
  hibernate_after = "5s"
  partial_chain = "false"
  verify_peer_ext_key_usage = "serverAuth"
  server_name_indication = auto
}