actions.confluent_producer.my_webhook_1.parameters {
  topic = "t-${payload.t}"
  message = {
    #substruct(confluent:kafka_message)
  }
  max_linger_time = "0ms"
  max_linger_bytes = "10MB"
  max_batch_bytes = "896KB"
  compression = no_compression
  partition_strategy = random
  required_acks = all_isr
  kafka_headers = "${pub_props}"
  kafka_ext_headers = [
    {
      #substruct(bridge_kafka:producer_kafka_ext_headers)
    }
  ]
  kafka_header_value_encode_mode = none
  partition_count_refresh_interval = "60s"
  partitions_limit = all_partitions
  max_inflight = 10
  buffer = {
    #substruct(bridge_kafka:producer_buffer)
  }
  query_mode = async
  sync_query_timeout = "5s"
}