connectors.syskeeper_proxy.my_webhook_1 {
    listen = "127.0.0.1"
    acceptors = 16
    handshake_timeout = "10s"
    resource_opts = {
        #substruct(connector_syskeeper_proxy:connector_resource_opts)
    }
}