authentication = [
  {
    request {
      method = "GET"
      path = "/api/v1/resource"
      body = "{}"
      headers = {
        "Content-Type" = "application/json"
      }
      max_retries = 3
      request_timeout = "5000ms"
    }
  }
]