connectors {
  mqtt {
    name {
      #substruct(connector_mqtt:config_connector)
    }
  }
  azure_event_hub_producer {
    name {
      #substruct(bridge_azure_event_hub:config_connector)
    }
  }
  elasticsearch {
    name {
      #substruct(elasticsearch:config)
    }
  }
  kafka_producer {
    name {
      #substruct(bridge_kafka:config_connector)
    }
  }
  datalayers {
    name {
      #substruct(bridge_datalayers:config_connector)
    }
  }
  oracle {
    name {
      #substruct(bridge_oracle:config_connector)
    }
  }
  azure_blob_storage {
    name {
      #substruct(connector_azure_blob_storage:config_connector)
    }
  }
  s3 {
    name {
      #substruct(bridge_s3:config_connector)
    }
  }
  tdengine {
    name {
      #substruct(tdengine_connector:config_connector)
    }
  }
  pulsar {
    name {
      #substruct(pulsar:config_connector)
    }
  }
  sqlserver {
    name {
      #substruct(bridge_sqlserver:config_connector)
    }
  }
  opents {
    name {
      #substruct(opents_connector:config_connector)
    }
  }
  clickhouse {
    name {
      #substruct(bridge_clickhouse:config_connector)
    }
  }
  couchbase {
    name {
      #substruct(connector_couchbase:config_connector)
    }
  }
  syskeeper_forwarder {
    name {
      #substruct(syskeeper_forwarder:config)
    }
  }
  cassandra {
    name {
      #substruct(bridge_cassa:config_connector)
    }
  }
  mongodb {
    name {
      #substruct(bridge_mongodb:config_connector)
    }
  }
  iotdb {
    name {
      #substruct(iotdb:config_restapi)
      #substruct(iotdb:config_thrift)
    }
  }
  tablestore {
    name {
      #substruct(bridge_tablestore:config_connector)
    }
  }
  dynamo {
    name {
      #substruct(bridge_dynamo:config_connector)
    }
  }
  greptimedb {
    name {
      #substruct(bridge_greptimedb:config_connector)
    }
  }
  hstreamdb {
    name {
      #substruct(bridge_hstreamdb:config_connector)
    }
  }
  rocketmq {
    name {
      #substruct(rocketmq:config_connector)
    }
  }
  gcp_pubsub_producer {
    name {
      #substruct(gcp_pubsub_producer:config_connector)
    }
  }
  pgsql {
    name {
      #substruct(bridge_pgsql:config_connector)
    }
  }
  kinesis {
    name {
      #substruct(bridge_kinesis:config_connector)
    }
  }
  snowflake {
    name {
      #substruct(connector_snowflake:config_connector)
    }
  }
  redis {
    name {
      #substruct(redis:config_connector)
    }
  }
  rabbitmq {
    name {
      #substruct(rabbitmq:config_connector)
    }
  }
  timescale {
    name {
      #substruct(bridge_timescale:config_connector)
    }
  }
  http {
    name {
      #substruct(bridge_http:config_connector)
    }
  }
  syskeeper_proxy {
    name {
      #substruct(connector_syskeeper_proxy:config)
    }
  }
  mysql {
    name {
      #substruct(bridge_mysql:config_connector)
    }
  }
  confluent_producer {
    name {
      #substruct(confluent:config_connector)
    }
  }
  kafka_consumer {
    name {
      #substruct(kafka_consumer:config_connector)
    }
  }
  influxdb {
    name {
      #substruct(bridge_influxdb:config_connector)
    }
  }
  matrix {
    name {
      #substruct(bridge_matrix:config_connector)
    }
  }
  gcp_pubsub_consumer {
    name {
      #substruct(gcp_pubsub_consumer:config_connector)
    }
  }
}