dashboard {
    listeners = {
        #substruct(dashboard:listeners)
    }
    default_password = public
    token_expired_time = "60m"
    cors = false
    swagger_support = true
    sso = {
        #substruct(dashboard:sso)
    }
}