connectors.elasticsearch.my_webhook_1 {
  connect_timeout = "15s"
  pool_type = random
  pool_size = 8
  enable_pipelining = 100
  ssl = {
    #substruct(emqx:ssl_client_opts)
  }
  resource_opts = {
    #substruct(bridge_http:connector_resource_opts)
  }
  server = "127.0.0.1:9200"
  authentication = {
    #substruct(elasticsearch:auth_basic)
  }
}