log {
    console = {
        #substruct(emqx:console_handler)
    }
    file = {
        #substruct(emqx:log_file_handler)
    }
    throttling = {
        #substruct(emqx:log_throttling)
    }
    audit = {
        enable = false
        level = "info"
    }
}