listeners.quic.my_quic_listener.ssl_options {
  cacertfile = "${EMQX_ETC_DIR}/certs/cacert.pem"
  certfile = "${EMQX_ETC_DIR}/certs/cert.pem"
  keyfile = "${EMQX_ETC_DIR}/certs/key.pem"
  verify = verify_none
  # password is intentionally left out as there is no default or example provided
  hibernate_after = "5s"
}