listeners.ws.my_webhook_1 {
  bind = 8083
  acceptors = 16
  max_connections = infinity
  mountpoint = ""
  zone = default
  enable_authn = true
  max_conn_rate = infinity
  messages_rate = "500/s"
  bytes_rate = "100MB/s"
  access_rules = ["allow all"]
  proxy_protocol = false
  proxy_protocol_timeout = "3s"
  tcp_options = {
    #substruct(emqx:tcp_opts)
  }
  websocket = {
    #substruct(emqx:ws_opts)
  }
}