listeners.ssl.my_listener.ssl_options.ocsp {
  enable_ocsp_stapling = false
  responder_url = "http://ocsp.example.com"
  issuer_pem = "-----BEGIN CERTIFICATE-----\n...\n-----END CERTIFICATE-----"
  refresh_interval = "5m"
  refresh_http_timeout = "15s"
}