log {
  console = {
    #substruct(emqx:console_handler)
  }
  file = {
    level = warning
    #substruct(emqx:log_file_handler)
    #substruct(handler_name)
  }
  throttling = {
    #substruct(emqx:log_throttling)
  }
  audit = {
    enable = false
    level = info
    #substruct(emqx:log_audit_handler)
  }
}