mqtt {
  max_inflight = 32
  max_awaiting_rel = 100
  max_topic_levels = 128
  max_qos = 2
  max_topic_alias = 65535
  retain_available = true
  wildcard_subscription = true
  shared_subscription = true
  exclusive_subscription = false
  retain_policy = retain_all
  max_payload_size = "1MB"
  keepalive_multiplier = 1.5
  max_subscriptions = 0
  max_topic_length = 65535
  max_topic_levels_shared = 128
  connection_rate_limit = true
  max_connections_per_second = 1000
}
