gateway.coap.listeners {
    udp {
        my_udp_listener = {
            #substruct(gateway:udp_listener)
        }
    }
    dtls {
        my_dtls_listener = {
            #substruct(gateway:dtls_listener)
        }
    }
}