gateway.coap.listeners.dtls.my_listener {
  acceptors = 16

  health_check = {
    #substruct(gateway:udp_health_check)
  }

  udp_options = {
    #substruct(gateway:udp_opts)
  }

  bind = "192.168.1.100:5684"

  max_connections = 1024
  # Optionally, use infinity instead of an integer for unlimited connections
  # max_connections = infinity

  max_conn_rate = 1000

  enable_authn = true

  mountpoint = ""

  access_rules = []

  dtls_options = {
    #substruct(gateway:dtls_opts)
  }
}