gateway.lwm2m {
    xml_dir = "/etc/emqx/lwm2m_xml"
    lifetime_min = "15s"
    lifetime_max = "86400s"
    qmode_time_window = "22s"
    auto_observe = false
    update_msg_publish_condition = contains_object_list
    translators = {
        #substruct(gateway:lwm2m_translators)
    }
    mountpoint = "lwm2m/${endpoint_name}/"
    listeners = {
        #substruct(gateway:udp_listeners)
    }
    enable_stats = true
    idle_timeout = "30s"
    clientinfo_override = {
        #substruct(gateway:clientinfo_override)
    }
}