gateway.ocpp.listeners {
  ws = {
    my_websocket_listener = {
      #substruct(gateway_ocpp:ws_listener)
    }
  }
  wss = {
    my_websocket_tls_listener = {
      #substruct(gateway_ocpp:wss_listener)
    }
  }
}