gateway.ocpp.listeners.ws.my_listener {
  acceptors = 16
  tcp_options = {
    #substruct(emqx:tcp_opts)
  }
  proxy_protocol = false
  proxy_protocol_timeout = "3s"
  bind = "<ip>:<port>"
  max_connections = 1024
  max_conn_rate = 1000
  enable_authn = true
  mountpoint = ""
  access_rules = []
  websocket = {
    #substruct(gateway_ocpp:websocket)
  }
}