gateway.jt808.proto {
  auth = {
    #substruct(gateway:anonymous_true)
    #substruct(gateway:anonymous_false)
  }
  up_topic = "jt808/${clientid}/${phone}/up"
  dn_topic = "jt808/${clientid}/${phone}/dn"
}