gateway.exproto.listeners.ssl.my_webhook_1 {
  acceptors = 16
  tcp_options = {
    #substruct(emqx:tcp_opts)
  }
  proxy_protocol = false
  proxy_protocol_timeout = "3s"
  bind = "0.0.0.0:8883"  # Example IP and port
  max_connections = 1024
  max_conn_rate = 1000
  enable_authn = true
  mountpoint = "${clientid}/prefix"  # Example mountpoint
  access_rules = [
    "deny 192.168.1.1",
    "allow 192.168.1.0/24",
    "deny all"
  ]
  ssl_options = {
    #substruct(emqx:listener_ssl_opts)
  }
}