sources.gcp_pubsub_consumer.my_pubsub_consumer {
  parameters = {
    #substruct(gcp_pubsub_consumer:source_parameters)
  }
  connector = "example_connector"
  tags = [
    "tag1",
    "tag2"
  ]
  description = ""
  resource_opts = {
    #substruct(gcp_pubsub_consumer:source_resource_opts)
  }
}