sources.kafka_consumer.my_kafka_source = {
  parameters = {
    #substruct(kafka_consumer:source_parameters)
  }
  connector = "example_connector"
  resource_opts = {
    #substruct(actions_and_sources:source_resource_opts)
  }
}