sources.kafka_consumer.my_kafka_source.parameters {
  topic = "example-topic"
  group_id = "example-group"
  max_wait_time = "1s"
  max_batch_bytes = "896KB"
  offset_reset_policy = latest
  offset_commit_interval_seconds = "5s"
  key_encoding_mode = none
  value_encoding_mode = none
}