sources.kafka_consumer.my_webhook_1 {
    connector = "connector_name"
    parameters = {
        #substruct(kafka_consumer:source_parameters)
    }
    resource_opts = {
        #substruct(actions_and_sources:source_resource_opts)
    }
}