connectors.kafka_consumer.my_webhook_1 {
    bootstrap_hosts = "kafka1:9092,kafka2:9092"
    connect_timeout = "5s"
    min_metadata_refresh_interval = "3s"
    metadata_request_timeout = "5s"
    authentication = none
    #authentication = {
    #substruct(bridge_kafka:auth_username_password)
    #}
    #authentication = {
    #substruct(bridge_kafka:auth_gssapi_kerberos)
    #}
    socket_opts = {
    #substruct(bridge_kafka:socket_opts)
    }
    health_check_topic = "health_check_topic_name"
    ssl = {
    #substruct(bridge_kafka:ssl_client_opts)
    }
    resource_opts = {
    #substruct(bridge_kafka:connector_resource_opts)
    }
}