connectors.opents.my_webhook_1 {
    server = "http://example.com"
    pool_size = 8
    summary = true
    details = false
    resource_opts = {
        #substruct(opents_connector:connector_resource_opts)
    }
}