actions.pulsar.my_pulsar_action {
  local_topic = "example/topic"
  parameters = {
    #substruct(pulsar:action_parameters)
  }
  connector = "pulsar-connector"
  tags = ["tag1", "tag2"]
  description = ""
  resource_opts = {
    #substruct(pulsar:action_resource_opts)
  }
}