actions.pulsar.my_webhook_1 {
    local_topic = "my/local/topic"
    parameters = {
        #substruct(pulsar:action_parameters)
    }
    connector = "my_connector_name"
    resource_opts = {
        #substruct(pulsar:action_resource_opts)
    }
}