connectors.redis.my_webhook_1.parameters {
    servers = "192.168.1.10:6379,192.168.1.11:6379"
    redis_type = sentinel
    sentinel = "mymaster"
    pool_size = 8
    username = "myUsername"
    password = "mySecretPassword"
    database = 0
}