actions.redis.my_redis_action {
  local_topic = "my/local/topic"
  parameters = {
    #substruct(bridge_redis:action_parameters)
  }
  connector = "my_connector"
  resource_opts = {
    #substruct(redis:action_resource_opts)
  }
}