connectors.redis.my_redis_sentinel.parameters {
  servers = "127.0.0.1:6379,192.168.1.1:6379"
  redis_type = sentinel
  sentinel = "my_sentinel_cluster"
  pool_size = 8
  username = "redis_user"
  password = "secret_password"
  database = 0
}