schema_registry {
  external = {
    #substruct(schema_registry:confluent_schema_registry)
  }
  schemas {
    some_schema = {
      #substruct(schema_registry:avro)
      #substruct(schema_registry:protobuf)
      #substruct(schema_registry:json)
    }
  }
}