dashboard.sso.ldap {
  enable = false
  backend = ldap
  query_timeout = "5s"
  server = "your.ldap.server"
  pool_size = 8
  username = "your-username"
  password = "your-password"
  base_dn = "dc=example,dc=com"
  filter = "(& (objectClass=person) (uid=${username}))"
  request_timeout = "10s"
  ssl {
    enable = false
  }
}