dashboard.sso.oidc {
  enable = false
  backend = oidc
  issuer = "https://example.com"
  clientid = "your-client-id"
  secret = "your-client-secret"
  scopes = [
    "openid"
  ]
  name_var = "${sub}"
  dashboard_addr = "http://127.0.0.1:18083"
  session_expiry = "30s"
  require_pkce = false
  preferred_auth_methods = [
    "client_secret_post",
    "client_secret_basic",
    "none"
  ]
  provider = generic
  fallback_methods = [
    "RS256"
  ]
  client_jwks = none
}