connectors.tdengine.my_connector {
  tags = []
  description = ""
  server = "example.com:6041"
  pool_size = 8
  username = "root"
  password = "your_password"
  resource_opts = {
    #substruct(tdengine_connector:connector_resource_opts)
  }
}