@import './base.css';

.tip {
  border: 1px solid #00bfa5;
  background-color: #e0f7fa;
  padding: 20px;
  margin: 20px 0;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .tip {
    border: 1px solid #2e7d32;
    background-color: #2e5742;
    color: #b2dfdb;
    padding: 20px;
    margin: 20px 0;
  }
}

#app {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}
