@import './base.css';

.tip {
  border: 1px solid #00BFA5;
  background-color: #E0F7FA;
  padding: 20px;
  margin: 20px 0;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .tip {
    border: 1px solid #2E7D32;
    background-color: #2e5742;
    color: #B2DFDB;
    padding: 20px;
    margin: 20px 0;
  }
}

#app {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}
